body {
    font-family: Arial;
    background-color: #eeeeee;
}

.container {
    width: 400px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    text-align: center;
}

input {
    padding: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}

li {
    list-style: none;
    padding: 10px;
    margin: 10px;
    background-color: #dddddd;
}

.concluida {
    text-decoration: line-through;
    opacity: 0.5;
}